.submitButton {
  width: 16rem;
  height: 5rem;
  font-size: var(--default-font-size);
  line-height: 16.8px;
  color: var(--color-white);
  border: 1.5px solid var(--color-accent-3);
  border-radius: .6rem;
  background-color: var(--color-accent-3);
  cursor: pointer;
  transition: .3s;

  &:hover { background-color: var(--color-accent-2); }
}

.submitButton-invalid {
  pointer-events: none;
  border-color: var(--color-contact-invalid);
  background-color: var(--color-contact-invalid);
  cursor: not-allowed;
}