.formInput {
  border-radius: .6rem;
  width: 100%;
  height: 6rem;
  border: 1px solid #333;
  padding: var(--padding-input);
  font-size: 1.6rem;

  &::placeholder {
    color: #132743;
  }
}

.formInput-invalid {
  border-color: var(--color-warning);
}