#root {
  
  min-height: 100vh;

  & * {
    box-sizing: border-box;
  }

  /* Measures */
  --padding-mobile: 6rem 3rem;
  --padding-desktop: 9rem 6rem;
  --padding-input: 2rem 3rem;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #EE3D1B;
  --color-accent-2: #D52047;
  --color-accent-3: #ED4C5C;
  --color-success: #2fd83a;
  --color-contact-invalid: #f77979;
  --color-warning: #e80202;
  
  /* Fonts */
  --default-font-size: 1.4rem;
  --large-font-size: 3.6rem;
}

.App {
  margin: 0 auto;
}

h1 {
  font-size: 7.2rem;
  line-height: 8.64rem;
  font-weight: 700;
}
h2 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.32rem;
}
h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.16rem;
}
